<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Application </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-white text-2xl font-bold">Notes App</a>
            <div class="block lg:hidden">
                <button id="nav-toggle" class="text-gray-500 focus:outline-none">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="nav-content">
                <ul class="lg:flex lg:items-center lg:space-x-4 lg:text-sm lg:font-medium">
                    <li><a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white">Home</a></li>
                    <li><a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white">About</a></li>
                    <li><a href="/contact" class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main w-full min-h-screen bg-zinc-700 text-white p-10">
        <a class="text-blue-500 inline-block mb-9" href="/">Go to Homepage</a>
        <h1 class="text-4xl treacking-tighter"><%=filename%></h1>
        <p class="text-xl mt-2 font-light"><%=filedata%></p>
    </div> 

         <footer class="bg-gray-800 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <p class="text-gray-400">© 2024 NotesApp</p>
                <div class="flex space-x-4">
                    <a href="https://www.linkedin.com/in/mrakshaydighe/" target="_blank" class="text-gray-400 hover:text-white">LinkedIn</a>
                    <a href="https://www.instagram.com/mr_akshaydighe/" target="_blank" class="text-gray-400 hover:text-white">Instagram</a>
                </div>
            </div>
        </footer>
</body>
</html>